<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PrjAssistencies"
        tools:targetApi="31">
        <activity
            android:name=".HorarisProf"
            android:exported="false" />
        <activity
            android:name=".safataEntradaProf"
            android:exported="false" />
        <activity
            android:name=".allAssistencies"
            android:exported="false" />
        <activity
            android:name=".asisPA"
            android:exported="false" />
        <activity
            android:name=".AsisUF"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".assis"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".WMissatges"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SafataMissatges"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".SafataEntrada"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RecuperarContrasenya2"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".RecuperarContrasenya"
            android:exported="false" />
        <activity
            android:name=".PerfilUsuari"
            android:exported="false" />
        <activity
            android:name=".CC"
            android:exported="false" />
        <activity
            android:name=".ISAct"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>